  html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 63%;
      height: -webkit-fill-available;
      /* margin-left: auto;
      margin-right: auto; */
      margin: 0;
      min-width: 15em;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      }
      
      .swiper-wrapper{
          height: -webkit-fill-available;
      }
      
      .swiper-slide{
          height: -webkit-fill-available;
      }
    
.right_container{
	width: 37%;
	height: -webkit-fill-available;
	font-size: 1em;
	float: right;
	background-color: white;
	border-left: 1px solid #e5e5e5;
}

.right_header{
	border-bottom: 1px solid #e5e5e5;
	height: 5em;
    padding: 1em;
    margin-left: 0.5em;
}

.header_id{
	padding-top: 4%;
	float: left;
}

#right_body{
	padding: 1.5em;
	border-bottom: 1px solid #e5e5e5;
	height: -webkit-fill-available;
    max-height: 31em;
    
    overflow-y: scroll;
}

::-webkit-scrollbar {

	display:none;

} 

.postcomm{
	margin-bottom: 1em;
}

.comment_container{
	margin-top: 1.2em;
    margin-left: 1em;
}

.comment_text{
	background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 2em;
    width: 19em;
    outline: 0;
    padding: 0;
    resize: none;
}

.modal-body {
    position: relative;
    padding: 0;
}

.commnet_form{
	padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.modal-body{
	height: -webkit-fill-available;
    max-height: 40em;
}

.close_btn{
    background: 0 0;
    border: 0;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.modal-dialog modal-center{
	width: 92%;
	max-width: 62em;
}


.swiper-slide > img{
	height: -webkit-fill-available;
    width: auto !important;
    overflow: hidden;
}

.modal-header {
	padding: 0;	
}

.submit_btn[disabled]:not(visietd) {
    opacity: .3;
}

.submit_btn {
    border: 0;
    color: #3897f0;
    font-weight: bold;
    background-color: white;
    display: inline;
    padding: 0;
    vertical-align: top;
    
}

.submit_btn{
	z-index: 100;
    margin-left: 1em;
}


.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    background-color: white;
    opacity: 0.8;
    right: 38em;
    width: 2em;
    height: 2em;
    border-radius: 50px;
    left: auto;
    background-size: 1em;
    box-shadow: 0px 1px 9px -2px #ababab;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    background-color: white;
    opacity: 0.8;
    right: 1em;
    width: 2em;
    height: 2em;
    border-radius: 50px;
    left: auto;
    background-size: 1em;
	box-shadow: 0px 1px 9px -2px #ababab;
}

ul{
    list-style: none;
    padding: 0px;
}

.comment > ul > li{
	margin-top: 1em;
}

.hide_comm_box > .comment > ul > li{
    height: 2em;
    margin-left: 2em;
    margin-left: 2em;
}    	

.hide_comm_box{
	height: 2.5em;
}

.comment_a{
	float: left;
    text-decoration: none;
    color:#262626;
	font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.add_friend{
	border: 0;
    color: #3897f0;
    display: inline;
    padding: 0;
}

.dot{
	display: inline;
    color: #262626;
    margin-left: 4px;
}

.postcomm_hashtag{
	margin-left: 3em;
}

.postcomm_hashtag > a{
    color: #003569;
    text-decoration: none;
}


.more_btn_top{
    background-image: url(../../resources/image/more.png);
    background-size: contain;
    height: 1em;
    width: 1em;
    border: 0px none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1.3em;
    float: right;
    margin-right: 1em;
}


.more_btn{
	background-image: url(../../resources/image/more.png);
    background-size: contain;
    height: 1em;
    width: 1em;
    border: 0px none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 7em;
}


.profile_img {
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    width: 3em;
    height: 3em;
    float: left;
}

.mini_img{
	width: 2em;
    height: 100%;
}


.postcomm_span > a{
    color: #337ab7;	
}

.postcomm_span{
	margin-left: 0.5em
}

.comment_bottom > .recomm{
    font-size: 0.7em;
    position: relative;
    color: #807c7c;	
    margin-left: 5%;
}

.comment_bottom_date{
    font-size: 0.7em;
    position: relative;
    color: #807c7c;	
}


.postcomm_bottom_date{
    font-size: 0.7em;
    position: relative;
    /* text-align: right; */
    margin-left: 4em;
    color: #807c7c;
}

.modal-body_pop{
	text-align: center;
}

.modal-body_pop > a{
	color: black;
}

.pop_btn{
	background-color: transparent;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #efefef;
    cursor: pointer;
    line-height: 1.5;
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}


#more_pop_modal{
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 2; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        
.view_comm, .hide_comm{
	margin-left: 2em;
	color: #999;
	
}

.recomm{
	border: 0;
    background-color: white;
}

.del_btn{
	border: 0;
    background-color: white;
    font-size: 0.7em;
    color: #807c7c;
}



.profile_img > #drag_box > img, .profile_img > #drag_box > div >img{
    width: 3em;
    height: 3em;
}

.profile_img >.box1, .profile_img >.box2{
	background-size: 3em 3em;
} 

.profile_img > img{
	width: 3em;
	height: 3em;
}

.comment{
	width: 19em;
	height: 1.5em;
}

