<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="insa">


	<select id="selectList" parameterType="String" resultType="GuestBookDto">
		SELECT * FROM GUESTBOOK  WHERE SENDTO = #{sendto} ORDER BY BOARDNUM DESC
	</select>
	
	<select id="selectList_friend" parameterType="Map" resultType="GuestBookDto">
		SELECT * FROM GUESTBOOK  WHERE SENDTO = #{sendto} AND SECRET = 'N' 
		OR (BOARDNUM IN (SELECT BOARDNUM FROM GUESTBOOK WHERE SECRET = 'Y' AND USERNAME = #{myname} AND SENDTO = #{sendto})) ORDER BY BOARDNUM DESC
		
		
	</select>
	
	<insert id="guestBookInsert" parameterType="GuestBookDto">
		INSERT INTO GUESTBOOK VALUES(BOARDNUM.NEXTVAL,#{username},#{nickname},#{content},SYSDATE,#{sendTo},#{secret})
	</insert>
	
	<select id="rownumone" resultType="GuestBookDto">
		SELECT * FROM(SELECT BOARDNUM,ROWNUM AS R FROM(SELECT BOARDNUM FROM GUESTBOOK ORDER BY BOARDNUM DESC)A)B
		WHERE B.R=1
	</select>
	
	<select id="babo" parameterType="map" resultType="GuestBookDto">
		SELECT * FROM GUESTBOOK WHERE BOARDNUM = #{boardnum}
	</select> 
	  
	<delete id="guestBookDelete">
		DELETE FROM GUESTBOOK WHERE BOARDNUM=#{boardnum}
	</delete>
	
	<select id="selectOne" resultType="GuestBookDto">
		SELECT * FROM GUESTBOOK WHERE BOARDNUM = #{boardnum}
	</select>
	<update id="guestBookUpdate" parameterType="GuestBookDto">
      UPDATE GUESTBOOK SET CONTENT=#{content} WHERE BOARDNUM = #{boardnum}
   </update>
   
</mapper>
   